Acr.Assist.CommentMicroService/obj
Acr.Assist.CommentMicroService/Logs
Acr.Assist.CommentMicroService/bin
Acr.Assist.CommentMicroService.Core/obj
Acr.Assist.CommentMicroService.Core/bin
Acr.Assist.CommentMicroService.Data/obj
Acr.Assist.CommentMicroService.Data/bin
Acr.Assist.CommentMicroService.Service/obj
Acr.Assist.CommentMicroService.Service/bin
.vs
Acr.Assist.CommentMicroService.Infrastructure/bin
Acr.Assist.CommentMicroService.Infrastructure/obj
ACR.Assist.CommentMicroService.Integrations/obj
Publish-CommentService
ACR.Assist.CommentMicroService.Integrations/bin
ACR.Assist.CommentMicroService.Integrations/bin/Debug/netcoreapp2.0
global.json
Acr.Assist.CommentMicroService.Service.Tests/bin
Acr.Assist.CommentMicroService.Service.Tests/obj
CodeCoverage/Reports
Acr.Assist.CommentMicroService.Service.Tests/coverage.opencover.XML
/Acr.Assist.Commenting.API/bin
/Acr.Assist.Commenting.API/obj
/Acr.Assist.Commenting.API/Logs
/Acr.Assist.Commenting.Core/bin
/Acr.Assist.Commenting.Core/obj
/Acr.Assist.Commenting.Data/bin
/Acr.Assist.Commenting.Data/obj
/Acr.Assist.Commenting.Infrastructure/bin
/Acr.Assist.Commenting.Infrastructure/obj
/Acr.Assist.Commenting.Integrations/bin/
/Acr.Assist.Commenting.Integrations/obj
/Acr.Assist.Commenting.Service/bin
/Acr.Assist.Commenting.Service/obj
/Acr.Assist.CommentMicroService.Service.Tests/bin
/Acr.Assist.CommentMicroService.Service.Tests/obj
/Acr.Assist.Commenting.Tests/bin/
/Acr.Assist.Commenting.Tests/obj
